/*Colori:

- black: #222222
- steal: #d7d7d7
- gold: #eedf69
- navbar: #212529
*/


/***************************************************************************************************************
*   Generali
***************************************************************************************************************/

html {
    font-size: 20px !important;
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-image: url("https://source.unsplash.com/uXQVNkam3hE/2400x1600");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

@font-face {
    font-family: "TechFitFont-Azonix";
    src: url(../fonts/Azonix.otf) format("truetype");
}

@font-face {
    font-family: "TechFitFont-OpenSans";
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf) format("truetype");
}


/***************************************************************************************************************
*   Gestione pagina
***************************************************************************************************************/

.container#main-cont {
    padding-top: 3%;
    padding-bottom: 3%;
    overflow: hidden;
}

.txt {
    text-align: center;
    background-color: #d7d7dd;
    padding: 2% 2% 2% 2%;
    border-radius: 30px;
}

.col {
    display: none;
    padding-bottom: 5%;
}

.col h1 {
    font-family: "TechFitFont-Azonix";
    font-size: 1.5em;
}

.img-width {
    display: block;
    padding: 1% 1% 1% 1%;
    border-radius: 30px;
    width: 90%;
    height: 90%;
}

.img-height {
    display: none;
    padding: 1% 1% 1% 1%;
    border-radius: 30px;
    width: 90%;
    height: 90%
}

.col#left img {
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

.col#right img {
    background: linear-gradient(to right, #656565, #040404, #000000, #656565);
}

@media (max-width: 990px) {
    .img-height {
        display: block;
    }
    .img-width {
        display: none;
    }
}

@media (max-width: 575px) {
    .row {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        align-content: center !important;
    }
    .img-height {
        margin: auto;
    }
}

@media (max-width: 521px) {
    .col h1 {
        font-size: 1em;
    }
    .col {
        font-size: 0.9em;
    }
}

@media (max-width: 342px) {
    .col h1 {
        font-size: 0.8em;
    }
    .col {
        font-size: 0.7em;
    }
}

@media (max-width: 283px) {
    .col h1 {
        font-size: 0.7em;
    }
    .col {
        font-size: 0.6em;
    }
}

footer {
    width: 100% !important;
    background-color: #212529;
    color: white;
    text-align: center;
}

.fot-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}