html {
    font-size: 16px;
}

body {
    width: 100%;
    margin: 0px;
    background-color: rgb(80, 78, 78);
}

@font-face {
    font-family: "TechFitFont";
    src: url(../fonts/Azonix.otf) format("truetype");
}

