@font-face {
    font-family: "TechFitFont-Azonix";
    src: url(../fonts/Azonix.otf) format("truetype");
}

html {
    font-size: 20px !important;
}

body {
    width: 100%;
    margin: 0px;
    background-color: #d7d7d7 !important;
}