/*Colori:

- black: #222222
- steal: #d7d7d7
- gold: #eedf69
*/


/***************************************************************************************************************
 FONT
***************************************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto:wght@300&display=swap');
@font-face {
    font-family: "TechFitFont-Azonix";
    src: url(../fonts/Azonix.otf) format("truetype");
}

@font-face {
    font-family: "TechFitFont-Monserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}


/***************************************************************************************************************
HTML & BODY
***************************************************************************************************************/

html {
    font-size: 20px !important;
}

body {
    width: 100%;
    margin: 0px;
    /*background-color: #9a9a9a;*/
    /*background-image: url("../pic/cool-background.png");*/
    background-image: url("../pic/Privata/index.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #9a9a9a !important;
}


/***************************************************************************************************************
Gestione nav
***************************************************************************************************************/

.home-logo {
    width: 40%;
    height: auto;
}

.header-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 0.4em;
    justify-content: space-between;
}

.d-flex {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 0.6em;
}

.logout-button {
    font-family: "TechFitFont-Azonix";
    text-decoration: none;
    color: #222222;
    max-width: 300px;
    border: 0px;
    border-radius: 9px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    background-color: #eedf69;
    transition: 0.5s ease-in-out;
    margin: 0 auto;
    height: fit-content;
    align-self: center;
}

.logout-button:hover {
    color: #9a9a9a;
    box-shadow: 0 5px 18px rgba(255, 255, 255, 0.4);
    transition: 0.3s;
}


/***************************************************************************************************************
Gestione main
***************************************************************************************************************/

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/***************************************************************************************************************
Gestione pulsante add card
***************************************************************************************************************/

.new-card-button {
    font-family: "TechFitFont-Azonix";
    font-size: 4.5em;
    height: 100%;
    width: 50%;
    min-width: 120px;
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    margin-bottom: 0px;
    padding: 10% 5% 10% 5%;
    /*padding-left: 10%;*/
    /*padding-right: 10%;*/
    align-items: center;
    appearance: none;
    border-radius: 50px;
    /*border-radius: 25px;*/
    border: 3px solid #222222;
    /*border: 0px;*/
    box-shadow: rgba(45, 35, 66, 0.4) 0 20px 40px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
    box-sizing: border-box;
    color: #222222;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
}

#new-card-label {
    font-size: 1.2em;
    margin-top: 0;
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 700;
    color: transparent;
}

.new-card-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
}

.new-card-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
    transform: translateY(-2px);
}

.new-card-button:active {
    transform: translateY(2px);
}

.dropdown-divider {
    background-color: red !important;
}

.new-card-button .dropdown-divider {
    background-color: #e0e0d1 !important;
}


/***************************************/


/*Gestione  searchbar*/


/***************************************/

.form-control:focus {
    box-shadow: 0px 0px 4px 4px #eedf69 !important;
}

.btn-outline-success {
    border: 1px solid #eedf69 !important;
    color: #eedf69 !important;
    font-family: "TechFitFont-Azonix";
}

.btn-outline-success:hover {
    background-color: #e0e0d1 !important;
    color: #222222 !important;
    transition: 0.5s;
}

.btn-outline-success:focus {
    box-shadow: none !important;
}

.error-box {
    animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
    0% {
        margin-left: 0rem;
        box-shadow: 0 0 0.5em red;
    }
    25% {
        margin-left: 0.5rem;
        box-shadow: 0 0 0.5em red;
    }
    75% {
        margin-left: -0.5rem;
        box-shadow: 0 0 0.5em red;
    }
    100% {
        margin-left: 0rem;
        box-shadow: 0 0 0.5em red;
    }
}


/***************************************************************************************************************
Gestione card
***************************************************************************************************************/

.card {
    width: 88%;
    text-align: center;
    max-width: 290px;
    margin: 2em 1.5em 1em 1.5em !important;
    text-align: center;
    border: none !important;
}

.card-style {
    box-shadow: 0px 0px 10px 7px #222222;
}

.new-card {
    background-color: transparent !important;
    border: none !important;
    /*width: 100px;*/
}

.new-card-pic {
    width: 100%;
    height: 175px;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #222222 !important;
    border: 0px !important;
    border-bottom: 1px solid #eedf69 !important;
}

.card-title {
    width: 70%;
    color: #eedf69 !important;
    font-weight: 400;
    font-family: "TechFitFont-Azonix";
}

.card-body {
    background-color: #222222;
    font-weight: 800;
    color: white;
    font-family: "TechFitFont-Monserrat";
}

.card-body p {
    text-align: center;
}

.dropdown {
    width: 5%;
}

.tDots {
    color: white !important;
    background-color: transparent !important;
    border: none !important;
}

.card .btn {
    width: 85%;
    background: transparent;
    background-color: #eedf69;
    border: 2px solid #eedf69 !important;
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    border: 0px;
    font-size: 1.2em;
    padding: 0.2em 1em 0.2em 1em;
    font-weight: 900;
    font-family: "TechFitFont-Azonix";
    transition: 0.5s;
}

.card .btn:hover {
    background-color: #222222;
    color: #eedf69;
    font-weight: 900;
}

.card .btn:focus,
.card .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-menu {
    background-color: #222222 !important;
}

.dropdown-item {
    color: #eedf69 !important;
    font-family: "TechFitFont-Azonix";
}

.dropdown-item:hover {
    color: #222222 !important;
}


/*******************************************/


/*Gestione delle card nella zona visualizza*/


/*******************************************/

.exc {
    width: 97%;
    /*max-width: 310px;*/
    margin-bottom: 0.7em;
    background-color: #222222 !important;
    border-radius: 15px 50px !important;
    text-align: left;
    margin-bottom: 0.5em;
    margin-top: 0.1em;
}

.exc .card-body {
    background: none !important;
    font-family: unset;
}

.exc .card-title {
    width: 100%;
    color: #eedf69 !important;
    font-weight: 400;
    font-family: "TechFitFont-Azonix";
    max-width: 250px;
}

.exc .list-group-item {
    width: 100%;
    height: fit-content;
    background-color: #eedf69 !important;
    margin: 0.3em 0 !important;
    border-radius: 10px 10px 10px 10px !important;
    background: rgb(244, 188, 6);
    background: linear-gradient(186deg, rgba(244, 188, 6, 1) 1%, rgba(203, 200, 200, 1) 54%, rgba(246, 188, 0, 1) 98%);
}

.exc .list-group-item label {
    font-size: 1rem;
}

.exc label {
    font-weight: 800 !important;
    color: #222222;
}


/*******************************************
Gestione MODAL per visualizzare le schede
*******************************************/

.modal-content {
    background-color: #d7d7d7 !important;
}

.modal-header {
    background-color: #222222 !important;
    color: #eedf69 !important;
    font-weight: 700;
    font-family: "TechFitFont-Azonix";
    border-bottom: 2px solid #222222 !important;
}

.modal-body {
    color: #222222 !important;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.corpo-modal {
    background: linear-gradient(-45deg, #d7d7d7, #a6a6a6, #5c5c3d, #eedf69);
    background-size: 400% 400%;
    animation: gradient 13s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.flex-gruppo {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #222222;
    justify-content: center;
    align-items: center;
}

.legend-wrapper {
    display: flex;
    flex-direction: row;
}

.modal-btn {
    border: 2px solid #eedf69 !important;
    color: #eedf69 !important;
    background: transparent !important;
    padding: 0.3em !important;
    letter-spacing: 2px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    border-radius: 15px !important;
    font-weight: 900 !important;
    background-image: none !important;
}

.modal-btn:hover {
    background-color: #eedf69 !important;
    color: #222222 !important;
    transition: 1.7s;
}

.modal-footer {
    background-color: #222222 !important;
    color: #eedf69 !important;
}


/*Animazione di caricamento che poi viene stoppata da jquery*/

.lds-dual-ring {
    /*Questo è il div che contiene il cerchio*/
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.lds-dual-ring:after {
    /*Aggiungo il cerchio con solo 2 su 4 bordi visibili*/
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid;
    border-color: #222222 transparent #eedf69 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    /*L'animazione fa semplicemente ruotare il div*/
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*Gestione dell'info esercizi*/

.info-button {
    background: transparent !important;
    border: none !important;
}

@media (min-width:700px) {
    .main {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


/*Gestione navbar*/

@media (min-width: 768px) {
    .header-content {
        flex-direction: row;
    }
}


/*Gestione dell'info esercizi*/

.info-button {
    background: transparent !important;
    border: none !important;
}


/**********************************************/


/*Gestione della modal per scegliere il gruppo muscolare da allenare*/


/**********************************************/

#modalTrain .grid-gruppi {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 6px;
}

#modalTrain .group-btn {
    background: transparent;
    border: none;
}

#modalTrain .group-btn:hover,
#modalTrain .group-btn:hover {
    animation: pulse 0.8s;
    box-shadow: 0 0 0 0.5em rgba(230, 206, 25, 0);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #9a9a9a;
    }
}


/*********************
Gestione degli alert
*********************/

.error {
    margin: 5px auto;
    width: 60%;
    max-width: 450px;
    background-color: #222222;
    border: 2px solid #f44336;
    border-radius: 15px;
    font-weight: 900;
    color: #eedf69;
    opacity: .99;
    text-align: center;
    padding: 0.4em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 1.5em auto;
}

.err-msg {
    padding-top: 0.8em;
    display: block;
    font-size: 0.9rem;
}

.closebtn {
    color: rgb(255, 255, 255);
    font-weight: bold;
    float: left;
    font-size: 1.2rem;
    line-height: 15px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.4em;
    display: block;
}

.closebtn-fill {
    color: #222222;
    font-weight: bold;
    float: right;
    font-size: 1.2rem;
    line-height: 15px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.4em;
    display: block;
}

.fa-exclamation-triangle {
    color: #f44336;
}


/***********************/


/*Media query*/


/***********************/

@media (min-width:700px) {
    .main {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .d-flex {
        margin: 0;
    }
    .logout-button {
        margin: 0;
    }
}

@media (min-width: 675px) {
    .flex-gruppo {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: left;
    }
}

@media (min-width: 675px) {
    .flex-gruppo {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: left;
    }
    .card {
        margin: 0.7em 0.5em;
    }
}


/*Gestione modal train*/

@media (min-width: 350px) {
    #modalTrain .grid-gruppi {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 700px) {
    #modalTrain .grid-gruppi {
        grid-template-columns: repeat(3, 1fr);
    }
}