/***************************************************************************************************************
*   Generali
***************************************************************************************************************/

html {
    font-size: 20px !important;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background: url("../pic/black_and_yellow.jpg");
}

@font-face {
    font-family: "TechFitFont-Azonix";
    src: url(../fonts/Azonix.otf) format("truetype");
}

@font-face {
    font-family: "TechFitFont-OpensSans";
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf) format("truetype");
}


/***************************************************************************************************************
Gestione nav
***************************************************************************************************************/

.home-logo {
    width: 40%;
    height: auto;
}

.logout-button {
    font-family: "TechFitFont-Azonix";
    text-decoration: none;
    color: #222222;
    max-width: 300px;
    border: 0px;
    border-radius: 9px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    background-color: #eedf69;
    transition: 0.5s ease-in-out;
    margin: 0 auto;
    height: fit-content;
    align-self: center;
}

.logout-button:hover {
    color: #9a9a9a;
    box-shadow: 0 5px 18px rgba(255, 255, 255, 0.4);
    transition: 0.3s;
}


/***************************************************************************************************************
Gestione pagina
***************************************************************************************************************/

.container {
    position: absolute;
    overflow: hidden;
    height: 750px;
    margin-top: 2%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.main {
    width: 100%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d7d7d7;
    border-radius: 50px;
}

.player {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.info-exc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#exc-name {
    font-family: "TechFitFont-Azonix";
}

#exc-desc {
    font-family: "TechFitFont-OpensSans";
}


/******************************/


/*Gestione delle progress bar*/


/*****************************/

.progress-wrapper {
    width: 100%;
    margin-top: 1.3em;
}


/*La progress bar è una lista con i li allineati in riga(tramite flex)*/

.progressBar {
    margin: 0 auto;
    padding: 2em 0 3em;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-between;
}


/*Sono le barre tra i vari step*/

.ProgressBar-step {
    text-align: center;
    position: relative;
    width: 100%;
}


/*Aggiungo effettivamente le barre*/

.ProgressBar-step:before,
.ProgressBar-step:after {
    content: "";
    height: 0.5em;
    background-color: #222222;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
    transition: all .25s ease-out;
}


/*Elimino le due barre di troppo*/

.ProgressBar-step:first-child:before,
.ProgressBar-step:first-child:after {
    display: none;
}


/*Barra di completamento*/

.ProgressBar-step:after {
    background-color: #eedf69;
    width: 0%;
}


/*Rendo visibile la barra di completamento quando termina un recupero*/

.is-complete+.is-current:after,
.is-complete+.is-complete:after {
    width: 100%;
}


/*Rendo carini gli svg utilizzati*/

.ProgressBar-icon {
    width: 1.5em;
    height: 1.5em;
    background-color: #222222;
    fill: #222222;
    /*Fill è una proprietà che riempie di un colore un svg*/
    border-radius: 50%;
    padding: 0.5em;
    max-width: 100%;
    z-index: 10;
    position: relative;
    transition: all .25s ease-out;
}


/*Coloro il pallino attuale*/

.is-current .ProgressBar-icon {
    fill: gray;
    background-color: gray;
}


/* Coloro i pallini completati*/

.is-complete .ProgressBar-icon {
    fill: #222222;
    background-color: #eedf69;
}


/*Stile per le label di ogni step*/

.ProgressBar-stepLabel {
    display: block;
    text-transform: uppercase;
    color: gray;
    position: absolute;
    padding-top: 0.5em;
    width: 100%;
    transition: all .25s ease-out;
}

.is-current>.ProgressBar-stepLabel,
.is-complete>.ProgressBar-stepLabel {
    color: #222222;
}

#countdown {
    margin-top: 1.3em;
}


/***********************/


/*Gestione dei bottoni*/


/***********************/

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.buttons a {
    width: fit-content;
    background: transparent;
    background-color: #eedf69;
    border: 2px solid #eedf69 !important;
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    border: 0px;
    font-size: 1.2em;
    padding: 0.2em 1em 0.2em 1em;
    font-weight: 900;
    font-family: "TechFitFont-Azonix";
    margin: 0.3em auto;
    transition: 0.5s;
}

.buttons a:hover,
.buttons a:focus {
    /*background-color: #222222;
    color: #eedf69;
    font-weight: 900;
    box-shadow: none !important;*/
    background-color: #222222;
    color: #eedf69;
    font-weight: 900;
}

.buttons a:focus,
.buttons a:active {
    outline: none !important;
    box-shadow: none !important;
}


/*Gestione exc-info su schermi larghi*/

@media (min-width: 900px) {
    #exc-desc {
        align-self: center;
    }
    .player {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
    .info-exc {
        justify-content: space-between;
        grid-column: 1 / 3;
    }
    .progress-wrapper {
        grid-column: 1 / 3;
        margin: 0 auto;
    }
    #countdown {
        margin: 0 auto;
        grid-column: 1 / 3;
    }
    .buttons {
        margin: 0 auto;
        grid-column: 1 / 3;
    }
}